.addCourse__button__container {
    bottom: 5%;
    left: 28%;
    position: fixed;
    z-index:15;
    .addCourse__button{
        background-color: black;
        font-size: 30px;
        color:white;
        width:40px;
        height: 40px;
        border-radius: 50%;
        &:hover{
            cursor: pointer;
        }
    }
}


.modal__container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;

    .modal{
        width: 550px;
        height: 650px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        z-index:100;

        .modal__button{
            position: relative;
            left: 92%;
            top:5%;
            transform: translate(-50%, -50%);
        }
    }
}